* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Montserrat', sans-serif;
    background-color: #141414;
    color: white;
  }
  
  /* navigation bar */
  .nav-bar {
    width: 100%;
    background-color: #030404;
    color: white;
  }
  header {
    width: 100%;
  }
  nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 20px;
  }
nav .nav-logo{
    width: 10%;
  }
  nav ul{
    width: 65%;
    display: flex;
    /* justify-content: space-between; */
  }
  nav ul li {
    display: flex;
  }
  nav ul li .per{
    margin-left: 15px;
    /* font-weight: 600; */
    /* color: #9B9B9B; */
  }
  nav ul li a {
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    font-weight: 900;
    color: white;
  }
nav .nav-logo img {
    width: 140px;
}
nav .profile{
    width: 15%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.profile .icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notifi-bell{
    cursor: pointer;
}
.notifi-bell:hover .bell-pics{
    opacity: 1;
}
.bell-pics{
        width: 100%;
        left: 0;
        right: 0;
        position: absolute;
        top: 50px; 
        background-color: #000;
        opacity: 0;
        z-index: 1000;
        overflow-y: scroll;
        overflow-x: hidden;
}
.bell-pics .bp{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}
.bell-pics .bell-one h4{
    font-size: 12px;
}
.bell-pics .bp img{
    width: 30px;
    margin-right: 10px;
}
.arr-drop {
    cursor: pointer;
}
.arr-drop .ls{
    transition: transform 0.3s ease;
}
.arr-drop:hover .ls{
     transform: rotate(-180deg);
}
.arr-drop:hover .dropdown{
    opacity: 1;
}
.dropdown{
    width: 100%;
    left: 0;
    position: absolute;
    top: 50px; 
    background-color: #000;
    opacity: 0;
    z-index: 1000;
}
.dropdown .manage{
    width: 10%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 5px;
    cursor: pointer;
}
.dropdown .manage i{
    font-size: 20px;
}
.dropdown .manage img{
    margin-right: 10px;
}
.dropdown .manage a{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
.dropdown .manage a:hover{
    text-decoration: underline;
}
.dropdown .manage i{
    width: 25%;
    margin-right: 10px;
    font-size: 20px;
}
.dropdown .ab{
    width: 90%;
    font-size: 12px;
    justify-content: start;
    padding: 0;
    margin-left: 10px;
}
.ab.line{
    border-bottom: 1px solid #c9c2c2;
}
.dropdown a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.dropdown a{
    padding-top: 5px;
}


/* page one */
.page-one{
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;    
} 
.page-one .bg-video{
   width: 100%;
}
.page-one .bg-video video{
    width: 100%;
 }
.page-one .txt{
    background-color: hsla(0, 0%, 0%,.2);
    width: 100%;
    top: 0;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 12px;
}
.page-one .txt .txt-c{
    width: 95%;
    margin-left: auto;
}
.page-one h2{
    width: 90%;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 54px;
    color: #fff;
}
.page-one h2 span{
    color: #CA0001;
    font-weight: 900;
}
.page-one .top-ten-ic{
    width: 90%;
    /* width: 20%; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.page-one .top-ten-ic .top{
    width: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #CA0001;
    border-radius: 5px;
    font-weight: 900;
    color: white;
}
.page-one .top-ten-ic h3{
    color: #fff;
}
.page-one p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}
.page-one .lf-rg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.page-one .lf{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.page-one .lf button{
    padding: 10px;
    border: none;
    color: black;
    cursor: pointer;
    margin-right: 10px;
}
.page-one .lf  .play{
    color: black;
    padding: 0 50px;
    font-size: 16px;
    background-color: white;
}
.page-one .lf .m-inf{
    color: white;
    padding: 0 50px;
    font-size: 16px;
    background-color: #53554C;
    opacity: 0.5;
}
.page-one .lf button i{
    margin-right: 7px;
    color: white;
}
.page-one .rg{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.page-one .rg  .m-inf{
    background-color: red;
    color: black;
    font-size: 16px;
}
.page-one .rg{
    width: fit-content;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
}
.page-one .rg i{
    font-size: 16px; 
}
.page-one .rg button{
    padding: 20px;
    border: 2px solid grey;
    border-radius: 90%;
    margin-right: 20px;
}
.page-one .margin{
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0 30px;
    color: #53554C;
    border: 2px solid grey;
    background-color: grey;
    opacity: 0.5;
}
.page-one .margin .mgn{
    padding: 5px;
    height: 30px;
   margin-right: 10px;
   border-left: 2px solid white;
}


/* page two */

.p-c{
    padding: 50px 0;
    background-color: #030404;
}
.p-c .page{
    width: 100%;
}
.page .paging{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}
.paging .arr-right{
    margin-left: 30px;
}
.carousel{
    width: 100%;
    margin-bottom: 50px;
    /* outline: 2px solid red; */
}
.carousel-container {
    width: 85%;
    margin: auto;
    position: relative;
    z-index: 0;
}
.carousel-track {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-track .one-one {
    position: relative;
    min-width: calc(100% / 5); 
}
.one-one:hover .pop{
    top: 0;
    opacity: 1;
    left: 0;
}
.one-one img{
    width: 95%;
}
.one-one .pop{
    position: absolute;
    top: -50px;
    opacity: 0;
    width: 280px;
    height: 250px;
    left: -100px;
    background-color: #181818;
    color: #fff;
    z-index: 10;
}
.one-one .pop .favorite-text{
    display: none;
    color: white;
    font-size: 14px;
    margin-top: 10px;
} 
.one-one .pop .image{
    width: 100%;
    text-align: center;
    margin-bottom: 10px
}
.one-one .pop .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.one-one .pop .icons .fa-play{
    background-color: #fff;
    color: #000;
}
.one-one .icons .left-i{
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.one-one .icons .left-i i{
    width: 30px;
    height: 30px;
    border: 2px solid #53554C;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.one-one .icons .right-i{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    border: 2px solid #53554C;
    border-radius: 50%;
    padding: 20px;
}
.one-one .icons .right-i i{
    font-size: 20px;
}
.pop p{
    margin-left: 15px;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}
.prev {
    left: -8%;
}
.next {
    right: -8%;
}


/* Footer page */

.footer-page{
    width: 100%;
    background-color: #141414;
}
footer .foot{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.foot .icon{
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    cursor: pointer;
}
.foot .icon i{
    color: white;
    font-size: 20px;
}
footer .foot .text{
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr; 
}
footer  .text .txt{
    margin-bottom: 20px;
}
footer  .text .txt a{
    color: grey;
    text-decoration: none;
}
footer  .text .txt a:hover{
    text-decoration: underline;
}
footer .btn{
   margin-bottom: 20px;
}
footer .btn button{
    padding: 10px;
    color: grey;
    font-weight: 400;
}
footer button:hover{
    color: #fff;
}
footer .foot .last{
    padding-bottom: 20px;;
}
footer .foot p{
    color: #fff;
    font-size: 12px;
}








/* MEDIA QUERY */
@media screen and (max-width: 1000px){


/* navigation bar */
nav{
    padding-top: 0;
}
nav ul{
    display: none;
}
nav ul .bse{
    /* display: flex ; */
}
nav .profile{
    display: none;
}
.page-one .txt{
    display: none;
}
.page-one .bg-video{
    display: none;
}
.one-one:hover .pop{
    opacity: 0;
}

/* PAGE TWO */
.paging .arr-right{
    display: none;
}

/* page two */
.p-c{
    padding: 10px 0;
}
.carousel{
    overflow-y: hidden;
}
.carousel-track .one-one {
    min-width: calc(100% / 2); 
}
/* Footer */
.foot .icon{
    display: none;
}
footer .foot .text{
    grid-template-columns: 1fr;
}


    
}